.idea
__pycache__
.ipynb_checkpoints
.DS_Store
*.pyc
*.pdf
# Gradle files
.gradle/
build/
# Log Files
*.log
# Local configuration file (sdk path, etc)
local.properties
# Java class files
*.class
# git related
.git